@font-face {
  font-family: 'Roboto Slab';
  src: url('./assets/Roboto_Slab/static/RobotoSlab-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('./assets/Roboto_Slab/static/RobotoSlab-Bold.ttf');
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;  
  color: black;
}

h1.title {
  font-size: 24px;
}

h2.title {
  font-size: 24px;
  font-weight: normal;
}

.text-center {
  text-align: center;
}